* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #222222;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.card {



    width: 30%;
    padding: 1rem;
    background-color: rgb(73, 87, 99);
    border-radius: 0.4rem;
    margin: 0.5rem;
}

h2 {
    text-align: center;
    margin: 1rem 0;
}

.productImage {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 0.5rem;
}